.description {
    text-align: center;
}

.title {
    font-size: 40px;
}

.firstLetter {
    font-size: 50px;
    color: indianred;
}

p {
    font-size: 30px;
    margin-bottom: 100px;
}

.row {
    margin-bottom: 50px;
}

.row p {
    font-size: 20px;
    margin: 0;
}

.row img {
    width: 200px;
    margin-bottom: 20px;
}